APP_ENV=development
SECRET_KEY=something_super_secret
REDIS_URL=redis://localhost:6379
WS_PING_INTERVAL=20
WS_PING_TIMEOUT=10
OBD_POLL_INTERVAL_MS=500
CORS_ORIGINS=["*"]
EXPECTED_API_KEY=automat_secret_key
